html {
	background-color: #111113;
	background-image: url(../img/logo.png), url(../img/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 1200px 1200px rgba(0,0,0,0.3);

	-webkit-transition: box-shadow 2s; /* For Safari 3.1 to 6.0 */
}

html.loaded {
	box-shadow: inset 0 0 1200px 1200px rgba(0,0,0,0.8);
}

div[role=main] {
  -webkit-animation-duration: 250ms;
  -webkit-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    /*width: 300%; */
  }

  to {
    margin-left: 0%;
    /*width: 100%;*/
  }
}

body {
	color: #fff;
	overflow: hidden;
	position: fixed;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	background: none;
	opacity: 0.8;
}

html,
body {
	height: 100%;
}

div[role=main] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 190px;
	left: 0;
	overflow: hidden;
}

div[role=main] h1 {
	margin-top: 0;
	font-size: 300%;
}

div[role=main] table {
	background: rgba(255, 255, 255, .1);
	color: #999;
	position: absolute;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	font-size: x-large;
}

div[role=main] th {
	min-width: 100px;
	white-space: nowrap;
}

div[role=main] h1,
div[role=main] th {
	color: #ffa803;
	text-shadow: 1px 1px 1px #000;
}

[ng-controller=CarouselDemoCtrl] {
	width: 700px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

clock {
	position: fixed;
	bottom: 5%;
	right: 5%;
	font-size: 60px;
	color: #bbb;
}

clock, .dashboard-info {
	opacity: .8;
}

.dashboard-info {
	position: fixed;
	bottom: 5%;
	left: 5%;
	font-size: 60px;
}

.dashboard-info img {
	display: inline-block;
	margin-top: -18px;
	margin-right: -15px;
}

.dashboard-info .text {
	display: inline-block;
	font-size: 50%;
	color: #bbb;
}

.dashboard-info .sub-title .icon-attask {
	margin-left: -10px;
}
.dashboard-info .sub-title {
	margin-top: -10px;
	font-size: 80%;
	color: #999;
}

#message{
	display: none;
}