<h1>{{ report.name }}</h1>

 <table class="table">
	<thead>
		<tr>
			<th ng-repeat="col in columns">{{ col.valuefield | columnName }}</th>
		</tr>
	</thead>
	 <tbody>
	 	<tr ng-repeat="item in data">
			<td ng-repeat="col in columns">
				<span ng-switch on="col.valuefield">
					<span ng-switch-when="avatar">
						<img src="https://hub.attask.com{{ item.avatarDownloadURL }}&size=LARGE"/>
					</span>
					<span ng-switch-default>
						{{ item[col.valuefield] | columnValue:item:col.valuefield }}
					</span>
				</span>
			</td>
	 	</tr>
	 </tbody>
</table>